<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>闹钟</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="Response.css">
	</head>
	<body>
		<div class="kuang1" style="opacity:1;z-index:1;">
		<div class="time">闹钟
		    <ul class="Ul">
			  <li class="edit">编辑</li>
			  <li class="new">+</li>
			</ul>
		</div>
		<div class="content">
			<div class="nice">
				 <div class="niceSpan"><span class="nice1">01</span>:<span class="nice2">01</span></div>
			     <label for="but">
					 <input type="checkbox" id="but" class="inputButton">
					 <span class="spanButton"></span>
				 </label>
			</div>
			<div class="timeWord">
				<span class="kuang1Clock">闹钟</span>
				,
				<span class="kuang1EveryDay">永不</span>
			</div>
		</div>
		</div>
		<div class="kuang2" style="opacity:0;">
			<div class="setTitle">
				设置闹钟
				<span class="cancel">取消</span>
				<span class="save">保存</span>
			</div>
			<div class="setList">
				<div class="setWrapper">
					<ul class="setContent">
						<li>23</li>
						<li>00</li>
						<li>01</li>
						<li>02</li>
						<li>03</li>
						<li>04</li>
						<li>05</li>
						<li>06</li>
						<li>07</li>
						<li>08</li>
						<li>09</li>
						<li>10</li>
						<li>11</li>
						<li>12</li>
						<li>13</li>
						<li>14</li>
						<li>15</li>
						<li>16</li>
						<li>17</li>
						<li>18</li>
						<li>19</li>
						<li>20</li>
						<li>21</li>
						<li>22</li>
						<li>23</li>
						<li>00</li>
						<li>01</li>
						<li>02</li>
						<li>03</li>
					</ul>
					<div class="markRed"></div>
				</div>
				<div class="setWrapper1">
					<ul class="setContent1">
						<li>59</li>
						<li>00</li>
						<li>01</li>
						<li>02</li>
						<li>03</li>
						<li>04</li>
						<li>05</li>
						<li>06</li>
						<li>07</li>
						<li>08</li>
						<li>09</li>
						<li>10</li>
						<li>11</li>
						<li>12</li>
						<li>13</li>
						<li>14</li>
						<li>15</li>
						<li>16</li>
						<li>17</li>
						<li>18</li>
						<li>19</li>
						<li>20</li>
						<li>21</li>
						<li>22</li>
						<li>23</li>
						<li>24</li>
						<li>25</li>
						<li>26</li>
						<li>27</li>
						<li>28</li>
						<li>29</li>
						<li>30</li>
						<li>31</li>
						<li>32</li>
						<li>33</li>
						<li>34</li>
						<li>35</li>
						<li>36</li>
						<li>37</li>
						<li>38</li>
						<li>39</li>
						<li>40</li>
						<li>41</li>
						<li>42</li>
						<li>43</li>
						<li>44</li>
						<li>45</li>
						<li>46</li>
						<li>47</li>
						<li>48</li>
						<li>49</li>
						<li>50</li>
						<li>51</li>
						<li>52</li>
						<li>53</li>
						<li>54</li>
						<li>55</li>
						<li>56</li>
						<li>57</li>
						<li>58</li>
						<li>59</li>
						<li>00</li>
						<li>01</li>
						<li>02</li>
						<li>03</li>
					</ul>
					<div class="markRed1"></div>
				</div>
			</div>
			<div class="repeat">重复
			    <span class="everyDay">永不</span>
			</div>
			<div class="target">标签
			   <span>闹钟</span>
			</div>
			<div class="bell">铃声
			   <span>追寻梦想</span>
			</div>
			<div class="warning">稍后提醒
			   <label for="but1" class="warn">
			   	  	    <input type="checkbox" id="but1" class="inputButton1">
			   	  		<span class="spanButton1"></span>
			   </label>
			</div>
		</div>
		<div class="kuang3" style="opacity:0;">
			<div class="kuang3Title"><span class="kuang3Repeat"><&nbsp;&nbsp;</span>重复</div>
			<form action="" class="Form">
				<div class="classWeek">
					每<span class="every">周日</span><input type="checkbox" name="week" id="in" class="Input">
					<label for="in"></label>
				</div>
				<div class="classWeek">
					每<span class="every">周一</span><input type="checkbox" name="week" id="in1" class="Input">
					<label for="in1"></label>
				</div>
				<div class="classWeek">
					每<span class="every">周二</span><input type="checkbox" name="week" id="in2" class="Input">
					<label for="in2"></label>
				</div>
				<div class="classWeek">
					每<span class="every">周三</span><input type="checkbox" name="week" id="in3" class="Input">
					<label for="in3"></label>
				</div>
				<div class="classWeek">
					每<span class="every">周四</span><input type="checkbox" name="week" id="in4" class="Input">
					<label for="in4"></label>
				</div>
				<div class="classWeek">
					每<span class="every">周五</span><input type="checkbox" name="week" id="in5" class="Input">
					<label for="in5"></label>
				</div>
				<div class="classWeek">
					每<span class="every">周六</span><input type="checkbox" name="week" id="in6" class="Input">
					<label for="in6"></label>
				</div>
			</form>
		</div>
		<div class="kuang4" style="opacity:0;">
			<div class="TargetList"><span>< &nbsp;&nbsp;</span>标签</div>
			<input type="text" value="闹钟" class="inputTarget">
			<span class="cricle">×</span>
		</div>
	</body>
	<script src="Response.js" type="text/javascript" charset="utf-8"></script>
</html>
